
.titulo-1{
	text-align: center;	
	text-transform: uppercase;
}
.titulo-2{
	text-align: center;
	font-size: 21px;


}

.card-text-sobre{
	font-size: 17px;
}
.nav-link{   
	font-size: 18px;
	color: black;
	margin-left: 50%;
}
.card-text{
	text-align: center;
	font-weight: bold;
	font-size: 21px;
   text-transform: uppercase;
}
.card-text-descricao{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
footer {
	margin-top: 20px;
   text-align: center;
    bottom:0;
    left:0;
}